##Getting and Knowing your Data


### Step 1. Import the necessary libraries

In [4]:
import pandas as pd

### Step 2. Import the dataset (Keep the "pandas_data.tsv" file in same PWD)

### Step 3. Assign it to a variable called chipo.

In [5]:
df = pd.read_csv("pandas_data.tsv", sep = '\t')

### Step 4. See the first 10 entries

In [6]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [10]:

df.groupby('order_id').size()

order_id
1       4
2       1
3       2
4       2
5       2
       ..
1830    2
1831    3
1832    2
1833    2
1834    3
Length: 1834, dtype: int64

In [8]:

df.count(axis=1)

0       4
1       5
2       5
3       4
4       5
       ..
4617    5
4618    5
4619    5
4620    5
4621    5
Length: 4622, dtype: int64

### Step 6. What is the number of columns in the dataset?

In [9]:
print(df.nunique(axis=1))

0       3
1       4
2       4
3       3
4       4
       ..
4617    5
4618    5
4619    5
4620    5
4621    5
Length: 4622, dtype: int64

### Step 7. Print the name of all the columns.

In [11]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [13]:
df["item_name"]

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object

### Step 9. Which was the most-ordered item?

In [21]:
data = groupby_df = (df.groupby(['item_name','quantity'])['item_name'].agg(['count']).sort_values(by='count', ascending=False).reset_index().drop_duplicates('item_name', keep='first'))

In [22]:
print(data)

                                 item_name  quantity  count
0                             Chicken Bowl         1    693
1                          Chicken Burrito         1    521
2                      Chips and Guacamole         1    455
3                            Steak Burrito         1    352
4                        Canned Soft Drink         1    264
5                               Steak Bowl         1    202
6                                    Chips         1    193
7                            Bottled Water         1    139
8                       Chicken Soft Tacos         1    110
9             Chips and Fresh Tomato Salsa         1    105
10                           Side of Chips         1     99
11                      Chicken Salad Bowl         1     97
12                          Veggie Burrito         1     94
13                        Barbacoa Burrito         1     91
14                             Canned Soda         1     84
15                             Veggie Bowl         1     83
16                           Barbacoa Bowl         1     66
17                           Carnitas Bowl         1     66
18                        Carnitas Burrito         1     58
19                        Steak Soft Tacos         1     54
20                       6 Pack Soft Drink         1     53
21     Chips and Tomatillo Red Chili Salsa         1     46
22                    Chicken Crispy Tacos         1     44
23   Chips and Tomatillo Green Chili Salsa         1     41
24                     Carnitas Soft Tacos         1     40
25                      Steak Crispy Tacos         1     34
27   Chips and Tomatillo-Green Chili Salsa         1     29
29                        Steak Salad Bowl         1     27
31                        Nantucket Nectar         1     25
32                     Barbacoa Soft Tacos         1     25
34      Chips and Roasted Chili Corn Salsa         1     21
35                                    Izze         1     20
37      Chips and Roasted Chili-Corn Salsa         1     18
38                       Veggie Salad Bowl         1     18
39     Chips and Tomatillo-Red Chili Salsa         1     17
44                   Barbacoa Crispy Tacos         1     10
45                     Barbacoa Salad Bowl         1     10
46                           Chicken Salad         1      9
49                       Veggie Soft Tacos         1      6
50                            Veggie Salad         1      6
51                     Carnitas Salad Bowl         1      6
53                   Carnitas Crispy Tacos         1      6
54                                 Burrito         1      6
56                             Steak Salad         1      4
62                            Crispy Tacos         1      2
64                                   Salad         1      2
77                     Veggie Crispy Tacos         1      1
87                                    Bowl         1      1
94                          Carnitas Salad         1      1
100      Chips and Mild Fresh Tomato Salsa         1      1

### Step 10. For the most-ordered item, how many items were ordered?

In [27]:
data.max()

item_name    Veggie Soft Tacos
quantity                     1
count                      693
dtype: object

### Step 11. What was the most ordered item in the choice_description column?

In [30]:
data1 = groupby_df = (df.groupby(['choice_description','quantity'])['choice_description'].agg(['count']).sort_values(by='count', ascending=False).reset_index().drop_duplicates('choice_description', keep='first'))

In [31]:
print(data1)

                                     choice_description  quantity  count
0                                           [Diet Coke]         1    113
1                                                [Coke]         1    108
2                                              [Sprite]         1     70
3     [Fresh Tomato Salsa, [Rice, Black Beans, Chees...         1     40
4     [Fresh Tomato Salsa, [Rice, Black Beans, Chees...         1     36
...                                                 ...       ...    ...
1115  [Roasted Chili Corn Salsa, [Fajita Vegetables,...         1      1
1116  [Roasted Chili Corn Salsa, [Fajita Vegetables,...         1      1
1117  [Roasted Chili Corn Salsa, [Fajita Vegetables,...         1      1
1118  [Roasted Chili Corn Salsa, [Fajita Vegetables,...         1      1
1119  [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...         1      1

[1043 rows x 3 columns]

### Step 12. How many items were orderd in total?

In [33]:
df['quantity'].sum()

4972

### Step 13. Turn the item price into a float

In [48]:
df['item_price'] = df['item_price'].replace('\$','',regex=True).astype(float)
print (df['item_price'])
print (df['item_price'].dtypes)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64
float64

### Step 14. How much was the revenue for the period in the dataset?

In [50]:
df["Revenue"]=df["quantity"]*df["item_price"]
data_2 = df["Revenue"].sum()
print(data_2)

39237.02

### Step 15. How many orders were made in the period?

In [52]:
print(df["order_id"].sum())

4285772